@font-face {
  font-family: "Ouroboros";
  font-style: normal;
  font-display: swap;
  src: local("Ouroboros-Regular"),
    url("/fonts/Ouroboros-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Minipax";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("Minipax-Regular"),
    url("/fonts/Minipax-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Minipax";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: local("Minipax-Medium"),
    url("/fonts/Minipax-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Minipax";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: local("Minipax-SemiBold"),
    url("/fonts/Minipax-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Minipax";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local("Minipax-Bold"), url("/fonts/Minipax-Bold.woff2") format("woff2");
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  cursor: url("/cursor/paw.svg"), auto;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ouroboros";
}

p {
  font-family: "Minipax";
}
